/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.blog-details button {
  background: #fff;;
  color: #f1356d;
  border: 2;
  border-color: #f1356d;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}